<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Buy Course</title>
</head>
<body>
    <h2><%= course.title %></h2>
    <p>Price: $<%= course.price %></p>
    <p>Description: <%= course.description %></p>
    <form action="/users/courses/<%= course.id %>" method="POST">
        <button type="submit">Buy Course</button>
    </form>
    
</body>
</html>