<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Edit Course</title>
</head>
<body>
    <form action="/admin/courses/<%= course.id %>" method="POST">
        <input type="text" name="title" placeholder="Title"><br>
        <input type="text" name="description" placeholder="Description"><br>
        <input type="number" name="price" placeholder="Price"><br>
        <button type="submit">Publish</button>
    </form>
    
</body>
</html>